//TIPOGRAFIA
$fuentePrincipal: "Inter", sans-serif;
//COLORES
$negro: #202c33;
$blanco: #ffffff;
$gris: #f8fafc;
$grisO: #cac9c9;
$rosa: #ed3456;
$azul: #1496ec;
$verde: #6fd46f;

//DIMENSIONES
$telefono: 480px;
$tablet: 900px;
$desktop: 1200px;
$desktopXL: 1500px;
